In [1]:
import re
import os

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

# Uploading Data

In [2]:
# File Paths Documents/Final Project/archive/Data
accepted_filepath = "../../archive/Data/accepted_2007_to_2018Q4.csv"
rejected_filepath = "../../archive/Data/rejected_2007_to_2018Q4.csv"

In [3]:
# reading in csv and converting to dataframes
accepted_df = pd.read_csv(accepted_filepath, error_bad_lines=False,low_memory=False)
rejected_df = pd.read_csv(rejected_filepath, error_bad_lines=False,low_memory=False)

In [4]:
list(accepted_df)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [5]:
list(rejected_df)

['Amount Requested',
 'Application Date',
 'Loan Title',
 'Risk_Score',
 'Debt-To-Income Ratio',
 'Zip Code',
 'State',
 'Employment Length',
 'Policy Code']

In [6]:
print(rejected_df['Loan Title'].unique())
print('-------------------')
print(accepted_df['purpose'].unique())
print('-------------------')
print(accepted_df['title'].unique())

['Wedding Covered but No Honeymoon' 'Consolidating Debt'
 'Want to consolidate my debt' ... 'dougie03' 'freeup'
 'Business Advertising Loan']
-------------------
['debt_consolidation' 'small_business' 'home_improvement' 'major_purchase'
 'credit_card' 'other' 'house' 'vacation' 'car' 'medical' 'moving'
 'renewable_energy' 'wedding' 'educational' nan]
-------------------
['Debt consolidation' 'Business' nan ... 'takeitaway' 'Creditt Card Loan'
 'debt reduction/hone updates']

## Trimming data for Model 1

Model 1 - Classification Model - Combining matching columns of Accepted and Rejected Data - Use that to train a model that can predict Acceptance/Rejection.

In [7]:
# select Needed columns
trim_accept_df = accepted_df[[
    'loan_amnt',
    'issue_d',
    'fico_range_high',
    'dti',
    'zip_code',
    'addr_state',
    'emp_length',
    'purpose'
]]

In [8]:
# select Needed columns
trim_reject_df = rejected_df[['Amount Requested',
 'Application Date',
 'Risk_Score',
 'Debt-To-Income Ratio',
 'Zip Code',
 'State',
 'Employment Length',
 'Loan Title']]

In [9]:
trim_accept_df.shape

(2260701, 8)

In [10]:
trim_reject_df.shape

(27648741, 8)

In [11]:
# adding a target value to the data
trim_accept_df['Loan Status'] = "Accepted"
trim_accept_df.head()

<ipython-input-11-2453f05da964>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trim_accept_df['Loan Status'] = "Accepted"

,loan_amnt,issue_d,fico_range_high,dti,zip_code,addr_state,emp_length,purpose,Loan Status
0,3600.0,Dec-2015,679.0,5.91,190xx,PA,10+ years,debt_consolidation,Accepted
1,24700.0,Dec-2015,719.0,16.06,577xx,SD,10+ years,small_business,Accepted
2,20000.0,Dec-2015,699.0,10.78,605xx,IL,10+ years,home_improvement,Accepted
3,35000.0,Dec-2015,789.0,17.06,076xx,NJ,10+ years,debt_consolidation,Accepted
4,10400.0,Dec-2015,699.0,25.37,174xx,PA,3 years,major_purchase,Accepted

In [12]:
# adding a target value to the data
trim_reject_df['Loan Status'] = "Rejected"
trim_reject_df.head()

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Loan Title,Loan Status
0,1000.0,2007-05-26,693.0,10%,481xx,NM,4 years,Wedding Covered but No Honeymoon,Rejected
1,1000.0,2007-05-26,703.0,10%,010xx,MA,< 1 year,Consolidating Debt,Rejected
2,11000.0,2007-05-27,715.0,10%,212xx,MD,1 year,Want to consolidate my debt,Rejected
3,6000.0,2007-05-27,698.0,38.64%,017xx,MA,< 1 year,waksman,Rejected
4,1500.0,2007-05-27,509.0,9.43%,209xx,MD,< 1 year,mdrigo,Rejected

### More clean up and writing to CSV - to be used for Model 1 (get team's opinion on whether we'll need more variables)

In [13]:
print(trim_reject_df.info())
print(trim_accept_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Risk_Score            float64
 3   Debt-To-Income Ratio  object
 4   Zip Code              object
 5   State                 object
 6   Employment Length     object
 7   Loan Title            object
 8   Loan Status           object
dtypes: float64(2), object(7)
memory usage: 1.9+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   loan_amnt        float64
 1   issue_d          object
 2   fico_range_high  float64
 3   dti              float64
 4   zip_code         object
 5   addr_state       object
 6   emp_length       object
 7   purpose          object
 8   Loan Status      object
dtypes: float64(3), object(6)
memory usage: 155.2+ MB
None

In [14]:
# recast accepted issue date as date
trim_accept_df['issue_d'] = pd.to_datetime(trim_accept_df['issue_d'])
trim_accept_df.head()

<ipython-input-14-18afbc794ff2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trim_accept_df['issue_d'] = pd.to_datetime(trim_accept_df['issue_d'])

,loan_amnt,issue_d,fico_range_high,dti,zip_code,addr_state,emp_length,purpose,Loan Status
0,3600.0,2015-12-01,679.0,5.91,190xx,PA,10+ years,debt_consolidation,Accepted
1,24700.0,2015-12-01,719.0,16.06,577xx,SD,10+ years,small_business,Accepted
2,20000.0,2015-12-01,699.0,10.78,605xx,IL,10+ years,home_improvement,Accepted
3,35000.0,2015-12-01,789.0,17.06,076xx,NJ,10+ years,debt_consolidation,Accepted
4,10400.0,2015-12-01,699.0,25.37,174xx,PA,3 years,major_purchase,Accepted

#### this is where we can decide what year(s) to focus on

In [15]:
# filter for 2 years? Can do more if needed
accept_filtered_df = trim_accept_df[trim_accept_df['issue_d'].dt.year == 2018]

In [16]:
# verify
accept_filtered_df['issue_d'].dt.year.unique()

array([2018], dtype=int64)

In [17]:
# recast rejected application date as date
trim_reject_df['Application Date'] = pd.to_datetime(trim_reject_df['Application Date'])
trim_reject_df.head()

,Amount Requested,Application Date,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Loan Title,Loan Status
0,1000.0,2007-05-26,693.0,10%,481xx,NM,4 years,Wedding Covered but No Honeymoon,Rejected
1,1000.0,2007-05-26,703.0,10%,010xx,MA,< 1 year,Consolidating Debt,Rejected
2,11000.0,2007-05-27,715.0,10%,212xx,MD,1 year,Want to consolidate my debt,Rejected
3,6000.0,2007-05-27,698.0,38.64%,017xx,MA,< 1 year,waksman,Rejected
4,1500.0,2007-05-27,509.0,9.43%,209xx,MD,< 1 year,mdrigo,Rejected

In [18]:
# filter for 2 years? Can do more if needed
reject_filtered_df = trim_reject_df[trim_reject_df['Application Date'].dt.year == 2018]
reject_filtered_df['Application Date'].dt.year.unique() # verify

array([2018], dtype=int64)

## Write Model 1 data to CSV

In [19]:
# # write to CSV to save space for working model
# accept_filtered_df.to_csv('Model_1 - ACC_REJ/acc_df_filtered.csv',index=False)

In [20]:
# # write to CSV to save space for working model
# reject_filtered_df.to_csv('Model_1 - ACC_REJ/rej_df_filtered.csv',index=False)

In [21]:
# Rename acc_df 
accept_filtered_df = accept_filtered_df.rename(columns={'loan_amnt': 'Amount_Requested',
                            'issue_d': 'App_Date',
                           'fico_range_high': 'Risk_Score',
                           'dti': 'debt_to_income_ratio',
                           'addr_state': 'State',
                           'emp_length': 'Emp_length',
                            'purpose': 'Purpose',
                            'Loan Status': 'Loan_Status',
                           })

In [22]:
# Rename rej_df 
reject_filtered_df = reject_filtered_df.rename(columns={'Amount Requested': 'Amount_Requested',
                            'Application Date': 'App_Date',
                           'Risk_Score': 'Risk_Score',
                           'Debt-To-Income Ratio': 'debt_to_income_ratio',
                           'Zip Code': 'zip_code',
                           'Employment Length': 'Emp_length',
                            'Loan Title': 'Purpose',
                            'Loan Status': 'Loan_Status',
                           })

In [23]:
# accept_filtered_df.head()

In [24]:
# change values in Emp_lenght - to recast as int later
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '< 1 year'),'Emp_length' ] = 0
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '1 year'),'Emp_length' ] = 1
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '2 years'),'Emp_length' ] = 2
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '3 years'),'Emp_length' ] = 3
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '4 years'),'Emp_length' ] = 4
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '5 years'),'Emp_length' ] = 5
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '6 years'),'Emp_length' ] = 6
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '7 years'),'Emp_length' ] = 7
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '8 years'),'Emp_length' ] = 8
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '9 years'),'Emp_length' ] = 9
accept_filtered_df.loc[(accept_filtered_df.Emp_length == '10+ years'),'Emp_length' ] = 10  # 10 will represent 10+, as a group

In [25]:
# change values in Emp_lenght - to recast as int later
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '< 1 year'),'Emp_length' ] = 0
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '1 year'),'Emp_length' ] = 1
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '2 years'),'Emp_length' ] = 2
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '3 years'),'Emp_length' ] = 3
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '4 years'),'Emp_length' ] = 4
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '5 years'),'Emp_length' ] = 5
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '6 years'),'Emp_length' ] = 6
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '7 years'),'Emp_length' ] = 7
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '8 years'),'Emp_length' ] = 8
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '9 years'),'Emp_length' ] = 9
reject_filtered_df.loc[(reject_filtered_df.Emp_length == '10+ years'),'Emp_length' ] = 10  # 10 will represent 10+, as a group

In [26]:
print(reject_filtered_df['Emp_length'].unique())
print('-------------------------------')
print(accept_filtered_df['Emp_length'].unique())

[0 nan 2 1 5 9 10 8 3 4 7 6]
-------------------------------
[8 2 0 10 9 nan 5 4 1 7 3 6]

In [27]:
# fix DTI in rej_df so it matches DTI in acc_df
reject_filtered_df['debt_to_income_ratio'] = pd.to_numeric(reject_filtered_df['debt_to_income_ratio'].astype(str).str[:-1], errors='coerce')
reject_filtered_df.head()

,Amount_Requested,App_Date,Risk_Score,debt_to_income_ratio,zip_code,State,Emp_length,Purpose,Loan_Status
4404427,3000.0,2018-07-01,NaN,100.00,925xx,CA,0,Debt consolidation,Rejected
4404428,40000.0,2018-07-01,NaN,7.45,335xx,FL,0,Major purchase,Rejected
4404429,16000.0,2018-07-01,NaN,34.93,156xx,PA,0,Debt consolidation,Rejected
4404430,40000.0,2018-07-01,NaN,27.87,957xx,CA,0,Debt consolidation,Rejected
4404431,300000.0,2018-07-01,NaN,-1.00,258xx,TN,0,Business Loan,Rejected

In [28]:
# final Data to combine - I don't see where zip-code/application-date would be useful 
# Ideally want to see if the rest of the variables does help in predicting Acceptance/Rejection.

final_acc_df = accept_filtered_df.drop(['zip_code','App_Date'], axis = 1).copy()
final_rej_df = reject_filtered_df.drop(['zip_code','App_Date'], axis = 1).copy()

In [29]:
print(final_acc_df.info())
print('-------------------------------')
print(final_rej_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495242 entries, 421097 to 1611876
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Amount_Requested      495242 non-null  float64
 1   Risk_Score            495242 non-null  float64
 2   debt_to_income_ratio  494110 non-null  float64
 3   State                 495242 non-null  object
 4   Emp_length            453255 non-null  object
 5   Purpose               495242 non-null  object
 6   Loan_Status           495242 non-null  object
dtypes: float64(3), object(4)
memory usage: 30.2+ MB
None
-------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9496782 entries, 4404427 to 19699075
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount_Requested      float64
 1   Risk_Score            float64
 2   debt_to_income_ratio  float64
 3   State                 object
 4   Emp_length            object
 5   Purpose               object
 6   Loan_Status           object
dtypes: float64(3), object(4)
memory usage: 579.6+ MB
None

In [30]:
# Drop Na from acc
final_acc_df = final_acc_df.dropna()
final_acc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 453176 entries, 421097 to 1611876
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Amount_Requested      453176 non-null  float64
 1   Risk_Score            453176 non-null  float64
 2   debt_to_income_ratio  453176 non-null  float64
 3   State                 453176 non-null  object
 4   Emp_length            453176 non-null  object
 5   Purpose               453176 non-null  object
 6   Loan_Status           453176 non-null  object
dtypes: float64(3), object(4)
memory usage: 27.7+ MB

In [31]:
# Drop Na from rej
final_rej_df = final_rej_df.dropna()
final_rej_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628344 entries, 4404458 to 19699073
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Amount_Requested      628344 non-null  float64
 1   Risk_Score            628344 non-null  float64
 2   debt_to_income_ratio  628344 non-null  float64
 3   State                 628344 non-null  object
 4   Emp_length            628344 non-null  object
 5   Purpose               628344 non-null  object
 6   Loan_Status           628344 non-null  object
dtypes: float64(3), object(4)
memory usage: 38.4+ MB

In [32]:
frames = [final_acc_df, final_rej_df]

In [33]:
combined_results = pd.concat(frames)

In [34]:
combined_results['Emp_length'].astype(str).astype(float)

421097       8.0
421098       2.0
421099       0.0
421100      10.0
421101       9.0
            ...
19698926     5.0
19698936     0.0
19698996     0.0
19699052     0.0
19699073     2.0
Name: Emp_length, Length: 1081520, dtype: float64

In [35]:
combined_results

,Amount_Requested,Risk_Score,debt_to_income_ratio,State,Emp_length,Purpose,Loan_Status
421097,5000.0,669.0,21.80,OK,8,other,Accepted
421098,15000.0,704.0,18.29,FL,2,debt_consolidation,Accepted
421099,11200.0,669.0,43.97,NH,0,medical,Accepted
421100,25000.0,669.0,12.89,AL,10,debt_consolidation,Accepted
421101,3000.0,764.0,0.58,WA,9,major_purchase,Accepted
...,...,...,...,...,...,...,...
19698926,3000.0,535.0,1.54,CT,5,Medical expenses,Rejected
19698936,6000.0,580.0,5.55,TX,0,Car financing,Rejected
19698996,3000.0,561.0,0.00,OR,0,Debt consolidation,Rejected
19699052,2500.0,573.0,8.55,NY,0,Other,Rejected
19699073,2500.0,567.0,0.00,AL,2,Car financing,Rejected

In [36]:
# write to CSV to save space for working model Model_1 - ACC_REJ
combined_results.to_csv('Model_1 - ACC_REJ/combined_results.csv',index=False)